.van-toast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  transition: all .2s;
  max-width: 70%;
  min-height: 88px;
  padding: 12px;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  white-space: pre-wrap;
  text-align: center;
  word-break: break-all;
  background: #141414;
  border-radius: 14px;
}

.van-popup--center {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
}

.van-popup.van-toast {
  position: fixed;
  max-height: 100%;
  width: auto;
  min-width: 115px;
  overflow-y: auto;
  padding: 12px;
  background: rgb(63, 63, 63, 0.9)!important;
  -webkit-overflow-scrolling: touch;
  .van-icon {
    position: relative;
    display: inline-block;
    font-size: 14px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  .van-toast__icon {
    font-size: 40px;
  }
  
  .van-toast__text {
    margin-top: 8px;
  }
}

.van-popup.van-popover {
  .van-popover__arrow {
    right: 3px!important;
    color: rgb(63, 63, 63, 0.9)!important;
  }
  .van-popover__content {
    background: rgb(63, 63, 63, 0.9)!important;
    color: #ffffff;
  }
}


.van-popup.van-dialog {
  top: 45%;
  left: 50%;
  padding: 25px 15px 12px;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  overflow: hidden;
  backface-visibility: hidden;
  transition: 0.3s;
  transition-property: transform,opacity;
  .van-dialog__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    .van-button {
      height: 30px;
      width: 50%;
      border-radius: 15px;
      border: 0;
      border: 1px solid $color-theme;
      font-size: 14px;
    }
    .van-dialog__cancel {
      margin-right: 20px;
      color: $color-theme;
    }
    .van-dialog__confirm {
      background: $color-theme;
      color: #ffffff;
    }
    .van-hairline--left:after,
    .van-hairline--top:after {
      border: 0;
    }
  }
}

.van-dialog-bounce-leave-active {
  transform: translate3d(-50%,-50%,0) scale(.9);
  opacity: 0;
}
.van-dialog-bounce-enter-from {
  transform: translate3d(-50%,-50%,0) scale(.7);
  opacity: 0;
} 
