// 颜色定义规范
$color-background: #ffffff;
$color-highlight-background: #333;
$color-theme: #caaa6a;
$color-theme-d: rgba(202, 170, 106, 0.5);
$color-sub-theme: #1c1c1c;
$color-text: #1c1c1c;
$color-dot: #ff5050;

// 字体定义规范
$font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
$font-style: normal;
$font-variant: normal;
$font-weight: 400;
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;