@font-face {
  font-family: "iconfont"; /* Project id 3543714 */
  src: url('//at.alicdn.com/t/c/font_3543714_on17yg6ea1j.woff2?t=1659724456592') format('woff2'),
       url('//at.alicdn.com/t/c/font_3543714_on17yg6ea1j.woff?t=1659724456592') format('woff'),
       url('//at.alicdn.com/t/c/font_3543714_on17yg6ea1j.ttf?t=1659724456592') format('truetype'),
       url('//at.alicdn.com/t/c/font_3543714_on17yg6ea1j.svg?t=1659724456592#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left:before {
  content: "\e6da";
}

.icon-share:before {
  content: "\e631";
}

.icon-fenxiang:before {
  content: "\e632";
}

.icon-gengduo:before {
  content: "\e64d";
}

.icon-fenxiang2:before {
  content: "\e623";
}

.icon-gou:before {
  content: "\e611";
}

.icon-caretdown:before {
  content: "\e603";
}

.icon-caretup:before {
  content: "\e607";
}

.icon-search:before {
  content: "\e6a4";
}

.icon-fenlei:before {
  content: "\e624";
}

.icon-xiangyou:before {
  content: "\e630";
}

.icon-zuobiao:before {
  content: "\e637";
}

.icon-shoucang:before {
  content: "\e71c";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-wode:before {
  content: "\e625";
}

.icon-shinshopfenlei:before {
  content: "\e606";
}

.icon-shinshopwode:before {
  content: "\e609";
}

.icon-shinshopgouwuche:before {
  content: "\e60a";
}

.icon-shinshopxiaoxi:before {
  content: "\e610";
}

.icon-shinshopdingdan:before {
  content: "\e615";
}

.icon-shinshopshouhuodizhi:before {
  content: "\e627";
}
