@font-face {
  font-family: "iconfont"; /* Project id 3543714 */
  src: url('//at.alicdn.com/t/c/font_3543714_6l0nopn92c9.woff2?t=1660445789166') format('woff2'),
       url('//at.alicdn.com/t/c/font_3543714_6l0nopn92c9.woff?t=1660445789166') format('woff'),
       url('//at.alicdn.com/t/c/font_3543714_6l0nopn92c9.ttf?t=1660445789166') format('truetype'),
       url('//at.alicdn.com/t/c/font_3543714_6l0nopn92c9.svg?t=1660445789166#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weidenglu:before {
  content: "\e612";
}

.icon-dingdan:before {
  content: "\e61c";
}

.icon-daifukuan:before {
  content: "\e668";
}

.icon-shezhi:before {
  content: "\e817";
}

.icon-shouhuo:before {
  content: "\e700";
}

.icon-daishouhuo1:before {
  content: "\e608";
}

.icon-pingjia:before {
  content: "\e629";
}

.icon-shoucang:before {
  content: "\e66c";
}

.icon-shoucangcg:before {
  content: "\e60b";
}

.icon-left:before {
  content: "\e6da";
}

.icon-share:before {
  content: "\e631";
}

.icon-gengduo:before {
  content: "\e64d";
}

.icon-gou:before {
  content: "\e611";
}

.icon-caretdown:before {
  content: "\e603";
}

.icon-caretup:before {
  content: "\e607";
}

.icon-search:before {
  content: "\e6a4";
}

.icon-fenlei:before {
  content: "\e624";
}

.icon-xiangyou:before {
  content: "\e630";
}

.icon-zuobiao:before {
  content: "\e637";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-wode:before {
  content: "\e625";
}

.icon-shinshopfenlei:before {
  content: "\e606";
}

.icon-shinshopwode:before {
  content: "\e609";
}

.icon-shinshopgouwuche:before {
  content: "\e60a";
}

.icon-shinshopxiaoxi:before {
  content: "\e610";
}

.icon-shinshopdingdan:before {
  content: "\e615";
}

.icon-shinshopshouhuodizhi:before {
  content: "\e627";
}
